# Maven
target
.mvn

# Gradle
.gradle/
.settings/
bin/
build/

#JRebel
rebel.xml

# Idea
.idea/
*.iml
*.ipr
*.iws
.buildpath
*.ids

# Eclipse
.project
.classpath
.settings
.scala_dependencies

# Emacs
*~
*#
.#*
.ensime
.ensime_lucene
TAGS

# Scala
*.sc

# bloop/metals/vscode
.bloop/
.metals/
.vscode/
metals.sbt

# BSP
.bsp/*

# Mac
.DS_Store

# Vim
.*.swp

EventStore.Net

.java-version

certs/

